{{> header}}

<form action="#/create" method="post">
    <label for="title">Title</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="content">Content</label><br>
    <textarea name="content" id="content" cols="222" rows="10"></textarea>
    <label for="image">Image</label><br>
    <input type="text" id="image" name="image" placeholder="Url on picture"><br>

    <div class="custom-control custom-checkbox">
        <input type="radio" name="checked" class="custom-control-input" id="completed">
        <label class="custom-control-label" for="defaultUnchecked">Completed</label>

         <input type="radio" name="checked" class="custom-control-input" id="upcoming">
        <label class="custom-control-label" for="defaultUnchecked">Upcoming</label>
    </div>
    <input type="submit" value="Submit">
</form>

{{> footer}}