{{> header}}

<form action="#/create" method="post">
    <label for="title">Title</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="content">Content</label><br>
    <textarea name="content" id="content" cols="222" rows="10"></textarea>
    <input type="submit" value="Submit">
</form>

{{> footer}}