{{> header}}

<h1>Register</h1>

<form action="#/register" method="post">
  <div class="imgcontainer">
    <img src="https://uybor.uz/borless/uybor/img/user-images/user_no_photo_300x300.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

     <label for="re-password"><b>Repeat Password</b></label>
    <input type="password" placeholder="Enter Password" name="re-password" required>
        
    <button type="submit">Register</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
      <a href="#/" class="cancelbtn">Cancel</a>
  </div>
</form>

{{> footer}}