
{{> header}}

<div class="container">
    <h1>Welcome to my Todo Application</h1>
    <img src="https://thumbs.dreamstime.com/b/todo-list-blue-checked-sheet-23505160.jpg" alt="background-img">
</div>

{{> footer}}
