{{> header}}

{{#each notes}}
    <div class="d-flex flex-row">
        <div class="p-2">
            <h2>{{title}}</h2>
            <span>{{content}}</span>
        </div>
    </div>
{{/each}}

{{> footer}}